.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1900px;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 35px;

  @media (max-width: 1000px) {
    flex-direction: column;
  }

  @media (max-width: 646px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 400px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.footer-container__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contacts {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer-contacts:hover {
  color: #f5dd3c;
}

.footer-social {
  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
}

.footer-social__link-img {
  width: 45px;
  height: 45px;
  margin: 12px;

  @media (max-width: 1000px) {
    width: 35px;
    height: 35px;
  }
}

.footer-text {
  font-size: 39px;
  font-weight: 700;
  line-height: 59px;
  color: #fff;
}

.footer-copyright {
  font-size: 29px;
  font-weight: 700;
  line-height: 49px;
  color: #d9d9d9;
  text-decoration: none;

  @media (max-width: 360px) {
    font-size: 23px;
    line-height: 30px;
  }
}

.footer-copyright:hover {
  color: #ffde00;
}

.footer-logo {
  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }
}

.footer-logo__logo {
  width: 200px;
  height: auto;
}
