.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding-right: 100px;
  padding-left: 100px;
  background: linear-gradient(108deg, #2caa7c 10%, #1f5e7d 140%);
  border: 1px solid #1f5e7d;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 1px 20px 10px #1f5e7d;

  @media (max-width: 646px) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 400px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1900px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.header-logo__img {
  @media (max-width: 861px) {
    max-width: 200px;
    height: auto;
  }
}

.header-list {
  display: flex;
  align-items: center;

  @media (max-width: 646px) {
    position: absolute;
    top: 73px;
    right: 0;
    flex-direction: column;
    width: 100%;
    margin-left: -49px;
    background: linear-gradient(108deg, #2caa7c 10%, #1f5e7d 140%);
    border-radius: 30px;
  }
}

.header-list__item {
  margin-left: 50px;

  @media (max-width: 861px) {
    margin-left: 25px;
  }

  @media (max-width: 646px) {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 0;
  }
}

.header-list__item-link {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: 861px) {
    font-size: 11px;
    line-height: 23px;
  }
}

.header-list__item-link:hover {
  color: #ffde00;
  border-bottom: 1px solid #ffde00;
}

// Анимация иконки бургер меню
.icon {
  position: relative;
  right: 24px;
  z-index: 999;

  @media (max-width: 646px) {
    display: block;
  }

  @media (min-width: 646px) {
    display: none;
  }

  @media (max-width: 646px) {
    position: absolute;
    right: 30px;
    z-index: 99;
    display: inline-block;
    width: 35px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
  }

  @media (max-width: 349px) {
    right: 8px;
  }
}

.header-container__burger span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f5dd3c;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition-duration: 500ms;
}

.header-container__burger span:nth-child(1) {
  top: 0;
  left: 0;
}

.header-container__burger span:nth-child(2) {
  top: 13px;
  left: 0;
  opacity: 1;
}

.header-container__burger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.header-container__burger.open span:nth-child(1) {
  top: 13px;
  transform: rotate(45deg);
}

.header-container__burger.open span:nth-child(2) {
  opacity: 0;
}

.header-container__burger.open span:nth-child(3) {
  top: 13px;
  transform: rotate(-45deg);
}

.header-container__burger:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.header-container__burger:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.header-container__burger:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.closed {
  @media (max-width: 646px) {
    display: block;
  }
}

.opened {
  @media (max-width: 646px) {
    display: none;
  }
}
